*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 45px;
    font-weight: 700;
    color:black;
}
.nav-list{
    display: flex;
}
.nav-list a{
    color: #000000;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2px solid transparent;
    transition: all .55s ease;
}
.nav-list a:hover{
    border-bottom: 3px solid #575757;
    transition: 0.2s;
}
#menu-icon{
    color: white;
    font-size: 40px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffffa7;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 15%;
}
.hero-text h4{
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}
.hero-text h1{
    font-size: 90px;
    color: #141414;
    margin: 0 0 35px;
}
.hero-text p{
    color: #000000;
    font-size: 20px;
    line-height: 1.2; 
    margin-bottom: 30px;
}
.play{
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    padding: 12px 25px;
    margin-top: 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #fff;
    background: rgb(255, 0, 0);
    cursor: pointer;
    transition: all .55s ease;
}
.hero-text i{
    color: #fff;
    font-size: 35px;
    padding-right: 15px;
}
.play:hover{
    background: rgb(255, 27, 65);
    border: 1px solid #fff;
    transform: translateX(8px);
    transition: 0.3s;
}
.hero-img img{
    width: 750px;
    height: auto;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0.9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: rgb(65, 65, 65);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(65, 65, 65);
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 134px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}